{% extends '@SymfonyCms/layouts/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Profile</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>You can edit your informations here</p>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="avatar-md profile-user-wid mb-4">
                                <img src="{{ asset('/bundles/symfonycms/images/no-avatar.png') }}" alt="" class="img-thumbnail rounded-circle">
                            </div>
                            <h5 class="font-size-15 text-truncate">{{ profile.firstname }} {{ profile.lastname }}</h5>
                        </div>

                        <div class="col-sm-8">
                            <div class="pt-4">
                                <div class="mt-4">
                                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light btn-sm">Change my password <i class="mdi mdi-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Personal Information</h4>

                   <div class="table-responsive">
                        <table class="table table-nowrap mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Full Name :</th>
                                    <td>{{ profile.lastname }} {{ profile.firstname }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">E-mail :</th>
                                    <td>{{ profile.email }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end card -->
        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Edit your personal information</h4>

                    {{ form_start(formUser) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form_row(formUser.lastname) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form_row(formUser.firstname) }}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(formUser.email) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(formUser.avatar) }}
                        </div>

                        {{ form_row(formUser.save) }}
                    {{ form_end(formUser) }}
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>
{% endblock %}
