{% extends '@SymfonyCms/layouts/base.html.twig' %}

{% block title %}{% trans from 'symfonycms' %}Administration{% endtrans %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">

                <h4 class="mb-sm-0 font-size-18">
                    {% if app.request.get('_route') == 'symfony_cms_pages_add' %}
                        {% trans from 'symfonycms' %}Add page{% endtrans %}
                    {% else %}
                        {{ page.name }}
                    {% endif %}
                </h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ path('symfony_cms_pages') }}">{% trans from 'symfonycms' %}Pages{% endtrans %}</a></li>
                        <li class="breadcrumb-item active">
                            {% if app.request.get('_route') == 'symfony_cms_pages_add' %}
                                {% trans from 'symfonycms' %}Add page{% endtrans %}
                            {% else %}
                                {{ page.name }}
                            {% endif %}
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

    {{ component('flashMessage') }}

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">{% trans from 'symfonycms' %}Page details{% endtrans %}</h4>

                    {{ form(form) }}

                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->

    </div>
{% endblock %}
