<div class="col-xl-4">
    <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
            <div class="row">
                <div class="col-8">
                    <div class="text-primary p-3">
                        <h5 class="text-primary">{% trans from 'symfonycms' %}Welcome Back !{% endtrans %}</h5>
                        <p>{% trans from 'symfonycms' %}You can edit your informations here{% endtrans %}</p>
                    </div>
                </div>
                <div class="col-4 align-self-end">
                    <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-sm-6">
                    <div class="avatar-md profile-user-wid mb-4">
                        {% if profile.avatar %}
                            <img src="{{ asset(profile.avatar) }}" alt="" class="img-thumbnail rounded-circle">
                        {% else %}
                            <img src="{{ asset('/bundles/symfonycms/images/no-avatar.png') }}" alt="" class="img-thumbnail rounded-circle">
                        {% endif %}
                    </div>
                    <h5 class="font-size-15 text-truncate">{{ profile.firstname }} {{ profile.lastname }}</h5>
                </div>

                <div class="col-sm-6">
                    <div class="pt-4">
                        <div class="mt-4">
                            {% if app.request.get('_route') ==  'symfony_cms_profile' %}
                                <a href="{{ path('symfony_cms_profile_reset_password', {id: app.user.id}) }}" class="btn btn-primary waves-effect waves-light btn-sm">
                                    {% trans from 'symfonycms' %}Change my password{% endtrans %} <i class="mdi mdi-arrow-right ms-1"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('symfony_cms_profile', {id: app.user.id}) }}" class="btn btn-primary waves-effect waves-light btn-sm">
                                    {% trans from 'symfonycms' %}Go back on profile{% endtrans %} <i class="mdi mdi-arrow-right ms-1"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end card -->

    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">{% trans from 'symfonycms' %}Personal Information{% endtrans %}</h4>

            <div class="table-responsive">
                <table class="table table-nowrap mb-0">
                    <tbody>
                    <tr>
                        <th scope="row">{% trans from 'symfonycms' %}Full Name :{% endtrans %}</th>
                        <td>{{ profile.lastname }} {{ profile.firstname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans from 'symfonycms' %}Email :{% endtrans %}</th>
                        <td>{{ profile.email }} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end card -->
</div>