<div class="dropdown d-none d-lg-inline-block ms-1">
    <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
        <i class="bx bx-fullscreen"></i>
    </button>
</div>

<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if app.user.avatar %}
            <img src="{{ asset(app.user.avatar) }}" alt="" class="rounded-circle header-profile-user">
        {% else %}
            <img class="rounded-circle header-profile-user" src="{{ asset('/bundles/symfonycms/images/no-avatar.png') }}" alt="">
        {% endif %}

        <span class="d-none d-xl-inline-block ms-1" key="t-henry">{{ app.user.lastname }} {{ app.user.firstname|first|upper }}.</span>
        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a class="dropdown-item" href="{{ path('symfony_cms_profile', {id: app.user.id}) }}">
            <i class="bx bx-user font-size-16 align-middle me-1"></i>
            <span key="t-profile">{% trans from 'symfonycms' %}Profile{% endtrans %}</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="{{ path('symfony_cms_logout') }}">
            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
            <span key="t-logout">{% trans from 'symfonycms' %}Logout{% endtrans %}</span>
        </a>
    </div>
</div>